*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  height: 100px;
  padding-top: 20px;
}
.nav-input input{
  width: 540px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid black;
  padding-left: 15px;
}

.nav-input input::placeholder{
  padding-left: 10px;
}

.icon-cart{
  margin-right: 25px;
}

.icon-cart, .icon-bell{
  font-size: 18px;
  padding-top: 10px;
}

.btn-login{
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  width: 100px;
  height: 36px;
  margin-top: 5px;

}
.btn-crown{
  font-weight: 600;
}
.btn-crown, .btn-language{
  margin-top: 10px;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid black;
  width: 100px;
}

.btn-crown i,
.btn-language i {
  margin-right: 2px;
}

.nav-body-left{
  background-color: #f4f6f8;
  height: 590px
}

.nav-body-left h5{
  text-align: center;
  padding: 30px 0;
}

ul{
  padding-left: 0px !important;
}
ul li {
  list-style-type: none;
}

.category{
  color: #505f77;
  text-decoration: none;
  text-transform:capitalize;
  padding-top: 15px;
  
}
.categories{
  width: 100%;
  text-align: left;
  padding-left: 15px;
  font-size: 18px;
  margin-left: 5px;
  height: 40px;
}
.categories:hover{
  background-color: black;
  width: 100%;
  transform: translateY(2px);
  transition: .5s;
  color: #fff !important;
  border-radius: 5px;
  height: 40px;
}

.category:hover{
  color: #fff;
}

.content{
  padding-top: 30px;
}

.item-content{
  /* text-align: center; */
  border: 1px solid #505f77 ;
  height: 400px;
  width: 292px;
  box-sizing: border-box;

}

.item-content img{
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 230px;
  height: 230px;
}

.item-content p{
  margin: 10px 25px;
  font-size: 17px;
}

.item-content p:nth-child(3){
 font-weight: 500;
}

.container-grid-content{
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  margin: 0 20px;
}

.deatailProduct{
  margin-top: 30px;
  /* display: grid;
  gap: 20px;
  grid-template-columns: auto auto; */
}
.img-product{
  border-radius: 5px;
  border: 1px solid black;
  height: 550px;
}

.img-product img{
  width: 420px;
  height: 480px;
  /* background-color: #505f77; */
  display: block;
  margin: auto;
}

.content-product{
  margin-left: 50px;
  font-weight: 500;
  font-size: 20px;
}

.item {
  margin-bottom: 90px;
}

.btn{
  width: 140px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.btn-buy{
  background-color: #000000;
  color: white;
}
.btn-cart{
  background-color: white;
  color: #000000;
  border:1px solid black
}

.desc-prod{
  margin-top: 50px;
  font-weight: 500;
  font-size: 20px;
}


